{%extends 'base.html'%}
{%block title%}about{%endblock title%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{background-image: url(https://images.pexels.com/photos/386009/pexels-photo-386009.jpeg?cs=srgb&dl=pexels-nubia-navarro-%28nubikini%29-386009.jpg&fm=jpg);background-size: cover;background-repeat: no-repeat;}
        .about{width: 600px;height: 270px;margin-left: 300px;}
        h2{text-align: center;color: rgb(3, 104, 82);margin-left: 5px;}
        p{color: rgb(24, 8, 68);margin-left: 5px;}
    </style>
</head>
<body>
    <div class="about">
        <h2>welcome to GK TRAVELS</h2>
        <P>Here we are sharing about our page and providing services,<br>startes this page since 2020 .our page give 100%guarenty to help you onexploring your dream place
        travels are always make our self happy and fresh .we will be there always for make your trip unforgettable</P>

    </div>
  
    </div>
</body>
</html>
{%endblock content%}