{%extends 'base.html'%}
{%block title%}{%endblock title%}
{% block content %}
<style>
    /* .book{background-color: antiquewhite;width: 600px;height: 400px;margin-left: 300px;color:brown;}
    form{text-align: center;margin-top: 10px;}
    .book h3{color: brown;text-align: center;margin-top: 10px;} */
    .abc{width: 600px; height: 500px;margin-left: 250px;}
    .z{height: 86px;}
    .abc h5{color: rgb(14, 13, 13);}
    form{margin-left: 10px;text-align: center;}
</style>

<div class="z">
</div>
<div class="abc">
    <h5>BOOKING</h5>

 <div class="book">
    <h3>Booking</h3>
<form method="post" action="{%url 'booking'%}">
{%csrf_token%}
{{form.as_p}}
<a href="{%url 'booking_details'%}"><button type="button" value="submit"> Submit</button>
</form>
</div>
{%endblock content %} 







