{%extends 'base.html'%}
{%load static%}
{%block title%}index{%endblock title%}
{%block content%}
<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Dancing+Script:wght@600&family=Inconsolata&family=Josefin+Sans:ital,wght@0,400;0,700;1,300;1,400&family=Qwitcher+Grypen:wght@700&family=Raleway:ital,wght@0,200;1,300&family=Roboto+Mono:ital,wght@0,200;0,400;1,200&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
<style>
    body{background-image: url(https://images.pexels.com/photos/386009/pexels-photo-386009.jpeg?cs=srgb&dl=pexels-nubia-navarro-%28nubikini%29-386009.jpg&fm=jpg);background-size: cover;background-repeat: no-repeat;}
  /* body{width: 1230px;height: 300px;} */
  h2{color:rgb(5, 80, 94); margin-bottom: -40px;}
    .carousel p{color:rgb(241, 61, 7); margin-bottom: -30px;}
    .index1 img{width: 1340px;height: 400px;}
    
</style>
<body>
<div class="index1">
 <!-- <img src="https://images.pexels.com/photos/386009/pexels-photo-386009.jpeg?cs=srgb&dl=pexels-nubia-navarro-%28nubikini%29-386009.jpg&fm=jpg"> -->
   
</div>
</body>
{%endblock content%}