{%extends 'base.html'%}
{%block title%}india{%endblock title%}
{%block content%}
<style>
.aaa{height: 100px;}
.privacy{width: 1300px;height:1000px;background-color: azure;margin-left: 30px ;}
.p1 h2{margin-left:30px;}
.p1 h6{margin-left: 30px;}
.p1 p{margin-left: 20px;}
.p2{margin-left: 20px;}
</style>

<div class="aaa">
</div>
<div class="privacy">
  <!-- <img src="https://st2.depositphotos.com/1312284/48274/i/450/depositphotos_482742302-stock-photo-flat-lay-design-travel-concept.jpg" width="1350px" height="400px"> -->
  <div class="p1">
    <h2><b>Privacy Note</b></h2>
    <h6>Last updated : 17/03/2024</h6><br><br>
    <p>Travel the World is committed to our client’s privacy and security and to taking steps designed to secure your personal and financial information. We believe your private details should be kept just that and when you share personal information with us, we will make all reasonable endeavours to keep your details secure and private. We are committed to ensuring that your personal information is protected.</p>
 </div>
 <div class="p2">
    <h2>Our Privacy Policy</h2>
    <p>Travel the World understands that privacy is important to you and wants your experience when dealing with us to be as enjoyable and safe as possible. This policy describes who Travel the World is and how it handles your personal information generally as well as when you use our website</p>
    <h2>The type of personal information we collect and hold</h2>
    <p>Personal information is information or an opinion about an identified individual or an individual who is reasonably identifiable. Generally Travel the World does not collect sensitive information about you such as details of your race, political beliefs, religion or health. However depending on the products and service you ask us to provide, we maybe required to collect some sensitive information when we are providing you with specialised services (such as access requirements for a disability).</p>
    <p>We will ask for a broad range of personal information which is necessary for us to provide you with our services. The type of personal information we ask for will depend on which of the travel products with Travel the World you book on and the type of product or service you choose.

    If we are not able to collect personal information about you we may not be able to provide you with the products, services or assistance you require. The collection, use or disclosure of your personal information is needed to provide these.</p>
   <p>We will generally ask for the following types of personal information:</p>
   <p> • name, address , email and contact details;<br>
    • date of birth;<br>
    • gender; and/or<br>
    • information about your use of our product or service<br>
    </p>
</div>
</div>
{%endblock content%}