{%extends 'base.html'%}
{% block title %}{%endblock title%}
{%block content%}
{% if results %}
<style>
  body{background-image: url(https://img.freepik.com/free-vector/watercolor-adventure-background_52683-83928.jpg);background-size: cover;background-repeat: no-repeat;}
    .cards{width: 500px;height: 500px;margin-top: 80px;margin-left: 350px;
    text-align: center;}
    h1{color: brown;}
    .aaa{height:80px;}

</style>
<div class="aaa"></div>
<div class="cards">
  {% for p in results %}
     <h1> {{ p.place_name }}</p></h1>
       {{ p.about }}</h5>
       {{ p.features }}</h5>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
<p>No results found.</p>
{% endif %}
{% endblock content %}